@import url('https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web');


/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6{
font-family: 'Titillium Web', sans-serif;
color: #000000;

}

p{
font-family: 'Open Sans', sans-serif;
color: #000000;
font-size: 12px;
line-height: 1.2;
}





.whiteText{
	color: #ffffff;
}

button{
	outline: none;
	border: none;
	background-color: #ffffff;
}

input{
	background-color: #ffffff;
	color: white;
}
button:focus {outline:0;}


/* SECTION ONE */ 
[name=logo]{
	margin-top: 100px;
}

[name=subscribeSubmit]{
	font-family: 'Titillium Web', sans-serif;
	outline: none;
	box-shadow: none;
}

[name=subscribeSubmit]:focus{
	outline: none;
	box-shadow: none;
}

[name=subscribeSubmit]:focus{
	outline: none;
	box-shadow: none;
}

.formHolder{
	display: block;
	margin:0 auto;

}

.center{
	  position: absolute;
/*  top: 0;
  bottom: 0; */
  left: 0;
  right: 0;
  margin: auto;  
}




.aBox{
	height: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	background-color: #ff6600;
}

.repeatPlay{
	height: 225px;
	width: 225px;
	background-color: #FF801F;
	padding-top: 25px;
	padding-left: 25px;
}

.intNotePlayONE{
	height: 100px;
	width: 100px;
	border-top: 25px;
	border-left: 25px;
	background-color: #7C100F;
}
.intNotePlayTWO{
	height: 100px;
	width: 100px;
	border-top: 25px;
	border-left: 25px;
	background-color: #7C100F;
	border-top: 10px;
}

#layoutOne{
	width: 100%;
	background-color: #ff6600;
	    margin: 0 auto;
}

[section=two]{
	width: 100%;
	height: 400px;
	background-color: #ffffff;
	    margin: 0 auto;
}


[section=three]{
	width: 100%;
	height: auto;
	background-color: #ff6600;
	    margin: 0 auto;
}

[section=four]{
	width: 100%;
	height: 600px;
	background-color: #ffffff;
	    margin: 0 auto;
}

[section=five]{
	width: 100%;
	height: 600px;
	background-color: #ff6600;
	    margin: 0 auto;
}

[name=selectable]{
	background-color: white;
	color: black;
	border-color: black;
    outline:none !important;


}

[name=selectable]:hover{
	background-color: white;
	color: black;
	border-color: black;
    outline:none !important;

}

[name=selectable]:focus{
	background-color: white;
	color: black;
	border-color: black;
	outline:none !important;

}

.classer{
	background-color: purple;
}

.img-center {
	margin:0 auto;
}

.form-center {
	margin-left: auto;
	margin-right: auto;
	}



/* EAR TRAINER */


.logoimage{
margin-top: 35px;
margin-left: 15px;
}
.choices{
	width: 300px;
    height: 40%;
    position:absolute;
    bottom:0;
}


.img-responsive{
	   width: 30%;
}


h1{
	color: #ff6600;
},

#textInto{
	color: #ff6600;
}

#trainerWindow{
	height: 300px;
	width: 300px;
	background-color: #ff6600;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.scoreWindow{
	height: 300px;
	width: 300px;
	background-color: #ff6600;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1px;
	padding-left: 20px;
	margin-bottom: 20px;
}

#score{
margin-left: 50px;
}



.header{
	width: 100%;
	height: 150px;
	background-color: #ff6600;
}

.sound{
	height: 100px;
	width: 100px;
	background-color: #ffffff;
	margin-right: 24px;
	margin-bottom: 10px;
	margin-top: 15px;
	margin-left: 24px;
	float: left;
}



[name="selectable"]{
	visibility:visible;
	color: #ff6600;
}



.footer{
	position: absolute;
	bottom: 0;
	height: 200px;
	width: 100%;
	background-color: #ff6600;
}


.btn:focus {
  outline: none;
}

