@import url('https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web');


a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.transit{
	width: auto;
	height: 300px;
	background-color: #ff6600;
}


.blue{
	height: 100px;
	width: 100px;
	background-color: blue;
}

.rounded{
	    border-radius: 25px;
}

.interBtn: hover{
	background-color: #FFBDBF;
}
.reddish{
	background-color: #FFBDBF;
}
/*
.btn-default{
	border: 5px solid #FF5A5E;
	color: #0099cc;
} */

.container{
	margin-bottom: 200px;
	position: relative;
}

.orange{
	color: #ff6600;
}
/* Interval Reference */

.speaker{
   background-image:url('./icons/speaker.png');
   background-position:center;
   background-repeat: no-repeat;
   background-color: #ffffff;
   height: 100px;
   width: 100px;
   border-radius: 15px;	
}

.speakerHold{
	width: auto;
	height: 150px;
}

.answerStatus{
	width: auto;
	padding-top: 10px;
	height: 30px;
}

.messyNotes{
   background-image:url('./icons/messyNotes.png');
   background-position: 102% 102%;
   background-repeat: no-repeat;
   height: auto;
   width: auto;
   padding-bottom: -100px;
}

.intPiano{
   background-image:url('./notes/pianoIntNote.png');
   background-position:center;
   background-repeat: no-repeat;
     background-color: #ffffff;
   height: 500%;
   width: 700px;	
   margin-left: auto;
   margin-right: auto;
}

.c4{
   background-image:url('./notes/c4.svg');
   background-position:center;
   background-repeat: no-repeat;
   background-color: #ffffff;
   height: 100px;
   width: 100px;
}

.c4Sharp{
   background-image:url('./notes/c4#.svg');
   background-position:center;
   background-repeat: no-repeat;
   background-color: #ffffff;
   height: 100px;
   width: 100px;
}

.d4Flat{
   background-image:url('./notes/d4b.svg');
   background-position:center;
   background-repeat: no-repeat;
   background-color: #ffffff;
   height: 100px;
   width: 100px;
}
.d4{
   background-image:url('./notes/d4.svg');
   background-position:center;
   background-repeat: no-repeat;
   background-color: #ffffff;
   height: 100px;
   width: 100px;
}

.d4Sharp{
   background-image:url('./notes/d4#.svg');
   background-position:center;
   background-repeat: no-repeat;
   background-color: #ffffff;
   height: 100px;
   width: 100px;
}

.e4flat{
   background-image:url('./notes/e4b.svg');
   background-position:center;
   background-repeat: no-repeat;
   background-color: #ffffff;
   height: 100px;
   width: 100px;
}

.e4{
   background-image:url('./notes/e4.svg');
   background-position:center;
   background-repeat: no-repeat;
   background-color: #ffffff;
   height: 100px;
   width: 100px;
}


.f4{
   background-image:url('./notes/f4.svg');
   background-position:center;
   background-repeat: no-repeat;
   background-color: #ffffff;
   height: 100px;
   width: 100px;
}

.f4Sharp{
   background-image:url('./notes/f4#.svg');
   background-position:center;
   background-repeat: no-repeat;
   background-color: #ffffff;
   height: 100px;
   width: 100px;
}

.f4Sharpg4Flat{
   background-image:url('./notes/f4#g4b.svg');
   background-position:center;
   background-repeat: no-repeat;
   background-color: #ffffff;
   height: 100px;
   width: 100px;
}

.g4{
   background-image:url('./notes/g4.svg');
   background-position:center;
   background-repeat: no-repeat;
   background-color: #ffffff;
   height: 100px;
   width: 100px;
}

.g4Sharp{
   background-image:url('./notes/g4#.svg');
   background-position:center;
   background-repeat: no-repeat;
   background-color: #ffffff;
   height: 100px;
   width: 100px;
}

.a4Flat{
   background-image:url('./notes/a4b.svg');
   background-position:center;
   background-repeat: no-repeat;
   background-color: #ffffff;
   height: 100px;
   width: 100px;
}
.a4{
   background-image:url('./notes/a4.svg');
   background-position:center;
   background-repeat: no-repeat;
   background-color: #ffffff;
   height: 100px;
   width: 100px;
}

.a4Sharp{
   background-image:url('./notes/a4#.svg');
   background-position:center;
   background-repeat: no-repeat;
   background-color: #ffffff;
   height: 100px;
   width: 100px;
}

.b4Flat{
   background-image:url('./notes/b4b.svg');
   background-position:center;
   background-repeat: no-repeat;
   background-color: #ffffff;
   height: 100px;
   width: 100px;
}

.b4{
   background-image:url('./notes/b4.svg');
   background-position:center;
   background-repeat: no-repeat;
   background-color: #ffffff;
   height: 100px;
   width: 100px;
}

.c5{
   background-image:url('./notes/c5.svg');
   background-position:center;
   background-repeat: no-repeat;
   background-color: #ffffff;
   height: 100px;
   width: 100px;
}


.holdWelcome{
	height: auto;
	width: auto;
	margin-bottom: 50px;
}







.tColor{
	color: #000000;
}

.lines{
	height: 10px;
	width: 200px;
	size: 50px;
	text-align: left;
	border-width: 1px;
	margin-top: 20px;
	margin-bottom: 10px;
 	border-top-style: solid;
 	border-top-color: #000000;
}


.linesW{
	height: 10px;
	width: 200px;
	size: 50px;
	text-align: left;
	border-width: 1px;
	margin-top: 20px;
	margin-bottom: 10px;
 	border-top-style: solid;
 	border-top-color: #FFFFFF;
}

#clickMe{
	height: 100px;
	width: 100px;
	background-color: #ff6600;

}

.comingSoon{
	background-color: #ff6600;
	width: auto;
	height: auto;

}

.countDown{
	font-family: 'Titillium Web', sans-serif;
	color: #000000;
	font-size: 90px;
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6, button{
font-family: 'Titillium Web', sans-serif;
color: #000000;

}

p{
font-family: 'Open Sans', sans-serif;
color: #000000;
font-size: 16px;
/*line-height: 1.2; */
}

.whiteText{
	color: #ffffff;
}

button{
	outline: none;
	border: none;
	background-color: #ffffff;
}

input{
	background-color: #ffffff;
	color: white;
}
button:focus {outline:0;}


/* SECTION ONE */ 

#main{
    height: 100vh;
	width: auto;
	background-color: red;
}

#about{
    height: 100vh;
	width: auto;
	background-color: blue;
}

#contact{
    height: 100vh;
	width: auto;
	background-color: green;
}








[name=logo]{
	margin-top: 10%;
	max-width: 100%;
}

[name=features]{
	max-width: 10%;
}

[name=subscribeSubmit]{
	font-family: 'Titillium Web', sans-serif;
	outline: none;
	box-shadow: none;
}

[name=subscribeSubmit]:focus{
	outline: none;
	box-shadow: none;
}

[name=subscribeSubmit]:focus{
	outline: none;
	box-shadow: none;
}

.formHolder{
	display: block;
	margin:0 auto;

}



.verticalLine{
 .verticalLine {
 	border-style: solid;
  /*border-left: thick solid #ff0000;
  height: 100px;*/
}
}
.center{
	  position: absolute;
/*  top: 0;
  bottom: 0; */
  left: 0;
  right: 0;
  margin: auto;  
}

.video{

	height: 350px;
	width: 560px;
	left: 0;
	padding-left: 1px;
	padding-top: 1px;


}

.leftAligner{
	    text-align: left;
	    padding-top: -1px;

}

.vcenter {
  
   margin-top: 30px; 
}

.imageSpacer{
	margin-right: 50px;
}



.aBox{
	height: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	background-color: #ff6600;
}

.repeatPlay{
	height: 225px;
	width: 225px;
	background-color: #FF801F;
	padding-top: 25px;
	padding-left: 25px;
}

.intNotePlayONE{
	height: 100px;
	width: 100px;
	border-top: 25px;
	border-left: 25px;
	background-color: #7C100F;
}
.intNotePlayTWO{
	height: 100px;
	width: 100px;
	border-top: 25px;
	border-left: 25px;
	background-color: #7C100F;
	border-top: 10px;
}

#layoutOne{
	width: 100%;
	background-color: #ff6600;
	    margin: 0 auto;
}

[section=two]{
	width: 100%;
	height: auto;
	background-color: #ffffff;
	    margin: 0 auto;
}

#two{
	width: 100%;
	height: auto;
	background-color: #ffffff;
	    margin: 0 auto;
}

   #canvas-holder{
                width:30%;
            }



[section=three]{
	width: 100%;
	height: auto;
	background-color: #ff6600;
	    margin: 0 auto;
}

[section=four]{
	width: 100%;
	height: 600px;
	background-color: #ffffff;
	    margin: 0 auto;
}

[section=five]{
	width: 100%;
	height: 100%;
	background-color: #ff6600;
	    margin: 0 auto;
}

[name=selectable]{
	background-color: white;
	color: black;
	border-color: black;
    outline:none !important;
}

[name=selectable]:hover{
	background-color: white;
	color: black;
	border-color: black;
	background-color: #FFBDBF;
    outline:none !important;
}


[name=start]:hover{
	background-color: white;
	color: black;
	border-color: black;
	background-color: #FFBDBF;
    outline:none !important;
}


[name=selectable]:focus{
	background-color: white;
	color: black;
	border-color: black;
	outline:none !important;

}

.classer{
	background-color: purple;
}

.img-center {
	margin:0 auto;
}

.form-center {
	margin-left: auto;
	margin-right: auto;
	}



/* EAR TRAINER */



.learnPractice {
	height: 200px;
	width: 300px;
	border-radius: 15px;
	background-color: #ff6600;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	line-height: 200px;   
}

.learnPractice h1{
	color: white;
	line-height: 200px;   
}

.learnPractice:hover{
	background-color: #FF5A5E;
    text-decoration: none;
}

.setupSection{
	background-color: #ff6600;
}



.logoimage{
margin-top: 35px;
margin-left: 15px;
width: 300px;
}

.choices{
	width: 300px;
    height: 30%;
    position:absolute;
    bottom:0;
}

.centerized{
	margin-left: auto;
	margin-right: auto;
}

.img-responsive{

	/*width: 30%; */
}


h1{
	color: #ff6600;
},

#textInto{
	color: #ff6600;
}

#trainerWindow{
	height: 325px;
	width: 300px;
	background-color: #ff6600;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	position: relative;
	border-radius: 15px;
}

#trainerWindowSmall{
	height: 425px;
	width: 300px;
	background-color: #ff6600;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	position: relative;
	border-radius: 15px;
}

.scoreWindow{
	height: 325px;
	width: 300px;
	background-color: #ff6600;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1px;
	padding-left: 20px;
	margin-bottom: 20px;
	border-radius: 15px;

}

#score{
margin-left: 50px;
}



.header{
	width: 100%;
	height: 150px;
	background-color: #ff6600;
}

.sound{
	height: 100px;
	width: 100px;
	background-color: #ffffff;
	margin-right: 24px;
	margin-bottom: 10px;
	margin-top: 15px;
	margin-left: 24px;
	float: left;
}

.goBtm{
width: auto;
position:absolute;
 bottom:0; 
 left:0;
  width:200px;
  height: 70px;
  margin-left: 45px;
}

[name="selectable"]{
	visibility:visible;
	color: #ff6600;
}

.aButton{
	background-color: white;
	color: #ff6600;
}

.footer{
    clear: both;
    position: relative;
    z-index: 10;
    height: 250px;
    margin-top: -3em;
	background-color: #ff6600; 

}


.btn:focus {
  outline: none;
}


/* SCORE */
.progress-bar{
	background-color: #ff6600;
}

.fixSubTotal{
	line-height: 1px;
}



/* home form */
input{
	color: #000000;
}

input.error{
    background-color:rgb(255, 231, 231);
}


#discover{
	margin-top: 20%;
}


#divLineFooter{
	height: 100vh;
	width: 100%;
}

#theLine{
	background-color: #ffffff;
	width: 2px;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
}



/* interval reference */

.intervalsHolder{
	height: 230px;
	width: 300px;
	background-color: #ff6600;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}

.subHeading{
	margin-top: 50px;
}

.intBox{

	width: 200px;
	width: auto;
	background-color: blue;
	display: block;
}

.error{
	height: 80vh;
	width: auto;
}
.features{
	max-width: 40%;
}

/* score */
#legCorrect{
	display: inline-block;	
	height: 15px;
	width: 15px;
	background-color: #ff6600;
}

#legIncorrect{
	display: inline-block;	
	width: 15px;
	height: 15px;
	background-color: #FF5A5E;
	margin-left: 10px;
}

@media (min-width: 700px) {
    #discover {
        margin-top: 10%;
    }
}
